body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
 
  
}

.skill-div {
   display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center; 

}

.card h3{
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}
#skills h2{
   text-align: center;
   margin-bottom: 30px;
}


.card{
    position: relative;
    transition: all 2s;
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    float: left;
    background-color: rgb(206, 206, 206);
    box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
    

}

.front{
    z-index: 1;
    backface-visibility: hidden;
    
}
.card:hover{
    transform: rotateY(180deg);
}
.back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    text-align: center;
    
    
}

html {
  scroll-behavior: smooth;
  
}

section {
  padding: 60px 10%;
}


.hero {
  text-align: center;
  padding: 180px 0;
  color: #6199f9;
 

}
.hero p{
    color: #ffffff;
}



h1, h2 {
  margin-bottom: 20px;
}

.project-card {
  background: #fafafa;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}



.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:  #6199f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
 gap: 5px;
 padding: 5px 100px ;
  font-size: 18px;
  /* background-color: #ab4c4c; */
  
  
}
.navbar ul li{
  position: relative;
  margin: 0px 80px;
  padding: 5px 0px;
  /* background-color: #e1ca67; */
  
  
}
.navbar a {
  text-decoration: none;
  position: relative;
  padding: 5px 20px ;
  /* background-color: aqua;
   */
  
  
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.navbar ul a::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    bottom: 0;
    left: 0;
    background-color:  rgb(5, 10, 40);
    opacity: 0;
}
.navbar ul a:hover::after{
    width: 2px;
    height: 100%;
    opacity: 1;
    transition: 1s;
}
.navbar ul a::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    top: 0;
    right: 0;
    background-color:  rgb(5, 10, 40);
    opacity: 0;
}
.navbar ul a:hover::before{
    width: 2px;
    height: 100%;
    opacity: 1;
    transition: 1s;
}

.navbar ul li::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    top: 0;
    left: 0;
    background-color:  rgb(5, 10, 40);
    opacity: 0;
}
.navbar ul li:hover::after{
    height:  2px;
    width: 100%;
    opacity: 1;
    transition: 1s;
}
.navbar ul li::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    bottom:  0;
    right: 0;
    background-color:  rgb(5, 10, 40);
    opacity: 0;
}
.navbar ul li:hover::before{
    width: 100%;
    height: 2px;
    opacity: 1;
    transition: 1s;
}



.navbar a:hover {
  color: #000000;
  opacity: 1;
}

.information img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h2{
    color: #6199f9;
    text-align: center;
}
#about p{
    line-height: 28px;
    color: rgb(0, 0, 0);
}
#about h2{
  text-align: center;
}
.about-info{
  box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
  padding: 10px;
  margin-top: 30px;
  background-color: white;
}
.hero {
  /* position: relative; */
  /* height: 100vh; */
  /* background: #f7f8fc; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.stars span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fafaf9;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 
    68% 57%, 79% 91%, 50% 70%, 
    21% 91%, 32% 57%, 2% 35%, 
    39% 35%
  );
  opacity: 0;
  animation: twinkle 4s infinite ease-in-out;
}

/* أماكن النجوم */
.stars span:nth-child(1) { top: 35%; left: 15%; animation-delay: 0s; }
.stars span:nth-child(2) { top: 35%; left: 70%; animation-delay: 1s; }
.stars span:nth-child(3) { top: 60%; left: 40%; animation-delay: 2s; }
.stars span:nth-child(4) { top: 10%; left: 85%; animation-delay: 3s; }
.stars span:nth-child(5) { top: 50%; left: 10%; animation-delay: 1.5s; }
.stars span:nth-child(6) { top: 60%; right: 40%; animation-delay: 2s; }
.stars span:nth-child(7) { top: 10%; right: 85%; animation-delay: 3s; }
.stars span:nth-child(8) { top: 50%; left: 90%; animation-delay: 1.5s; }
.stars span:nth-child(9) { top: 85%; right: 85%; animation-delay: 3s; }
.stars span:nth-child(10) { top: 85%; left: 90%; animation-delay: 1.5s; }

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.projects {
  padding: 80px 0%;
  /* background: #000000; */
  text-align: center;
}

.project-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  margin: 15px 0 10px;
  font-size: 1.2rem;
  color: #333;
}

.project-card a {
  display: inline-block;
  margin-bottom: 15px;
  color:#6199f9;
  text-decoration: none;
  font-weight: 500;
}

.project-card a:hover {
  text-decoration: underline;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

#contact{
   padding: 60px 10%; 
}
#contact p{
    color: white;
}
#contact a{
    font-size: 15px;
    color: gray;
}
#contact a:hover{
  text-decoration: underline;
}
body{
  background-color: rgb(5, 10, 40) !important;
}